<footer class="page-footer font-small unique-color-dark">
  <div style="background-color: #6351ce;">
    <div class="container">
      <div class="row py-4 d-flex align-items-center">
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Useful information, links, technologies and contact</h6>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center text-md-left mt-5">
    <div class="row mt-3">

      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Description</h6>
        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p style="text-align:justify;">Weather App made in Angular framework, with <a href="https://openweathermap.org/current">OpeanWeather API</a>, styled with Bootstrap and Angular Material. Made by <a href="https://github.com/k-rade">Radivoje
            Katanic</a>.
        </p>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Technologies</h6>
        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="https://www.w3schools.com/html/html5_intro.asp">HTML</a>
        </p>
        <p>
          <a href="https://www.w3schools.com/css/default.asp">CSS</a>
        </p>
        <p>
          <a href="https://www.typescriptlang.org">TypeScript</a>
        </p>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="https://angular.io">Angular</a>
        </p>
        <p>
          <a href="https://getbootstrap.com">Bootstrap</a>
        </p>
        <p>
          <a href="https://openweathermap.org/current">OpenWeather API</a>
        </p>
        <p>
          <a href="https://stackoverflow.com">Stack Overflow</a>
        </p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

        <p>
          <fa-icon [icon]="faAt"></fa-icon> k.rade313@gmail.com
        </p>
        <p>
          <fa-icon [icon]="faLink"></fa-icon><a href="https://ba.linkedin.com/in/radivoje-katanic-26a26719b"> Radivoje Katanic GitHub</a>
        </p>
        <p>
          <fa-icon [icon]="faLink"></fa-icon><a href="https://ba.linkedin.com/in/radivoje-katanic-26a26719b"> Radivoje Katanic LinkedIn</a>
        </p>
      </div>

    </div>
  </div>

  <div class="text-center py-3 footer-d">
    <p>Created by: <a class="to-top" href="#"> Radivoje Katanic</a></p>
  </div>

</footer>
