.col {
  text-align: left;
}

.col-btn {
  text-align: right;
}

#temp {
  text-align: right;
}

#icon {
  text-transform: uppercase;
  margin-top: -3.2rem;
}

#black {
  color: black;
}

.humidity {
  text-align: left;
}

.pressure {
  text-align: right;
  margin-top: -2.5rem;
}

.row {
  text-align: center;
}

.weather-element {
  border-radius: 5px;
  box-shadow: 1px 1px 6px #ccc;
  padding: 10px;
  margin: 1rem auto;
  transition: 0.4s all;
}

.weather-element:hover {
  transform: translateY(-5px);
}

.info {
  text-transform: uppercase;
}

.badge {
  color: white;
  background-color: #6351ce;
}
